:root {
    --banner-height: 135px;
    --border-radius: 5px;
    --cell-pad: 8px;
    --content-button-height: 35px;
    --content-button-width: 140px;
    --foot-button-height: 40px;
    --foot-button-width: 260px;
    --footer-height: 80px;
    --footer-margin: 0px;
    --h1-margin: 15.2px;
    --menu-button-height: 80px;
    --menu-button-width: 260px;
    --message-padding: 0.2em;
    --result-div-height: 400px;
    --row-button-height: 40px;

    --transition-duration: 0.167s;

    --accent0: #50e3c2;
    --accent1: #ffa500;
    --accent2: #b5e37c;
    --accent3: #ed585d;
    --base0: #232629;
    --base1: #2d3136;
    --base2: #31363b;
    --base3: #4d5057;
    --base4: #616569;
    --base5: #eff0f1;
    --secondary0: #345e75;
    --secondary1: #3daee9;

    --amber-code: var(--accent1);
    --button-border: var(--accent0);
    --card-bg: var(--base1);
    --card-fg: var(--base5);
    --cell-bg: var(--base2);
    --cred-fg: var(--base4);
    --footer-bg: var(--base0);
    --foot-bg: var(--base2);
    --foot-fg: var(--base5);
    --green-code: var(--accent2);
    --input-active: var(--secondary1);
    --input-bg: var(--base0);
    --input-fg: var(--base5);
    --input-border: var(--base4);
    --menu-bg: var(--base2);
    --menu-fg: var(--base5);
    --red-code: var(--accent3);
    --table-border: var(--base3);
    --topbar-bg: var(--accent0);
}

@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

body {
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

footer {
    align-items: center;
    background: var(--footer-bg);
    bottom: var(--footer-margin);
    display: flex;
    height: var(--footer-height);
    justify-content: center;
    position: absolute;
    width: 100%;
}

header {
    background-color: var(--topbar-bg);
    height: var(--banner-height);
    padding-left: calc(var(--banner-height) / 3 );
    position: absolute;
    text-align: left;
    width: 100%;
}

h1 {
    cursor: pointer;
    font-size: 32pt;
    height: 60px;
    margin: calc(calc(var(--banner-height) - 60px) / 2) 0;
    width: max-content;
}

h2 {
    font-size: 2em;
}

input {
    background: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--input-fg);
    font-size: inherit;
    outline: none;
    padding: var(--message-padding);
    transition-duration: var(--transition-duration);
    transition-property: border;
}

input:focus, input:hover {
    border-color: var(--input-active);
}

input[type="number"] {
    text-align: center;
}

input[type="search"] {
    border-radius: 0px;
}

legend {
    width: 85%;
}

main {
    background-color: var(--card-bg);
    color: var(--card-fg);
    height: calc(100% - var(--banner-height));
    position: absolute;
    top: var(--banner-height);
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid var(--table-border);
    border-collapse: separate;
    border-spacing: 4px;
    box-sizing: border-box;
    display: table;
    width: 100%;
}

table input, table td {
    font-size: 14pt;
}

tbody {
    border-color: inherit;
    display: table-row-group;
    vertical-align: middle;
}

td {
    background: var(--cell-bg);
    display: table-cell;
    padding: var(--cell-pad);
    text-align: left;
    vertical-align: inherit;
    white-space: normal;
}

td[name="result"] {
    cursor: pointer;
    width: auto;
}

th {
    display: table-cell;
    font-weight: bold;
    padding: var(--cell-pad);
    text-align: center;
    vertical-align: inherit;
    white-space: nowrap;
}

th img {
    height: 1.2em;
    vertical-align: middle;
}

thead {
    border-color: inherit;
    display: table-header-group;
    vertical-align: middle;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.active-button:active {
    background-color: var(--input-active);
    border: none;
}

.active-button:focus, .active-button:hover {
    border-color: var(--input-active);
}

.active-button::-moz-focus-inner {
    border: none;
}

.amber {
    color: var(--amber-code);
}

.col1 {
    grid-column: 1;
    grid-row: 1;
}

.col2 {
    grid-column: 2;
    grid-row: 1;
}

.col3 {
    grid-column: 3;
    grid-row: 1;
}

.content {
    min-width: 1000px;
    width: 70%;
}

.content-button {
    background: var(--menu-bg);
    border: 1px solid var(--button-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--menu-fg);
    font-family: inherit;
    height: var(--content-button-height);
    outline: none;
    transition-duration: var(--transition-duration);
    transition-property: border;
    width: var(--content-button-width);
}

.credits {
    color: var(--cred-fg);
    font-size: 0.8em;
}

.entry {
    margin: 8px 0;
}

.delete {
    background-color: var(--accent3);
    border-radius: calc(var(--row-button-height) / 2);
    height: var(--row-button-height);
    width: var(--row-button-height);
}

.foot {
    width: 70%;
}

.foot button {
    background: var(--foot-bg);
    border: 1px solid var(--button-border);
    border-radius: calc(var(--foot-button-height) / 2);
    box-sizing: border-box;
    color: var(--foot-fg);
    font-family: inherit;
    font-size: 14pt;
    height: var(--foot-button-height);
    outline: none;
    transition-duration: var(--transition-duration);
    transition-property: border;
    width: var(--foot-button-width);
}

.green {
    color: var(--green-code);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 2%;
    overflow: auto;
}

.h2-centred {
    text-align: center;
}

.h2-left {
    margin-bottom: 18px;
}

.ingredient-list {
    border: 1px solid var(--table-border);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: var(--result-div-height);
    padding: 10px;
}

.left-button {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
}

.legend {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.legend p {
    font-size: 14pt;
    margin-top: 5px;
}

.legend .entry {
    align-self: end;
    margin-bottom: 20px;
}

.med-col {
    box-sizing: border-box;
    width: 100px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu button {
    background: var(--menu-bg);
    border: 1px solid var(--button-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--menu-fg);
    font-family: inherit;
    font-size: 20pt;
    height: var(--menu-button-height);
    outline: none;
    transition-duration: var(--transition-duration);
    transition-property: border;
    width: var(--menu-button-width);
}

.ni-table {
    table-layout: fixed;
    height: 300px;
    width: max-content;
}

.red {
    color: var(--red-code);
}

.right-button {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
}

.rotate-center {
	animation: rotate-center 0.4s ease-in-out both;
}

.set-mass {
    width: 100%;
}

.wide-col {
    box-sizing: border-box;
    width: 270px;
}

#add-button {
    align-self: end;
    grid-row: 3;
    justify-self: end;
    width: max-content;
}

#add-ingredient {
    font-size: 14pt;
    grid-row: 1;
    width: 100%;
}

#added-foods {
    display: block;
    grid-row: 1;
    height: min-content;
    max-height: 300px;
    table-layout: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

#added-list {
    height: 100%;
    width: 100%;
}

#dish-list {
    grid-column: 1/3;
    grid-row: 2;
}

#dish-namer {
    width: 65%;
}

#dish-portioner {
    width: 3em;
}

#dish-settings {
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 20px
}

#toggle {
    border-radius: calc(var(--content-button-height) / 2) var(--border-radius) var(--border-radius) calc(var(--content-button-height) / 2);
    justify-self: right;
    width: max-content;
}

#mass-p {
    align-items: center;
    column-gap: 10px;
    display: grid;
    align-self: end;
    height: min-content;
    grid-row: 2;
    width: max-content;
}

#mass-refresh {
    display: inline-block;
    height: inherit;
    justify-self: center;
    width: 1em;
}

#nutri-info {
    margin-top: 50px;
}

#result-table {
    display: block;
    grid-row: 2;
    height: calc(var(--result-div-height) - 125px);
    overflow-y: auto;
    overflow-x: hidden;
}

#saver {
    display: inline-flex;
    justify-content: center;
}

[hidden] {
    display: none; /* add `!important` if not working properly */
}